<!DOCTYPE html>
<html lang="en">
<head>
    <title>Applications &bull; Staff Submission</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script src="https://use.fontawesome.com/337fb33ac6.js"></script>
    <link rel="stylesheet" href="/css/discord/icon-discord.css">
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://images-ext-1.discordapp.net/external/f9JFLQ8Wq2ue4aTtxB9voh0XrtJFfdrTLgUJlShyUrY/https/cdn.discordapp.com/icons/194533269180514305/7e12fb0d80893de9898cb9174835b357.jpg?width=89&height=89">
    <link rel="shortcut icon"
          href="https://images-ext-1.discordapp.net/external/f9JFLQ8Wq2ue4aTtxB9voh0XrtJFfdrTLgUJlShyUrY/https/cdn.discordapp.com/icons/194533269180514305/7e12fb0d80893de9898cb9174835b357.jpg?width=89&height=89">

    <meta name="author" content="XeliteXirish">
    <meta name="description" content="Open-Source dev team">

    <meta name="apple-mobile-web-app-title" content="StaffSubmissions">
    <meta name="application-name" content="StaffSubmissions">
    <meta name="theme-color" content="#00c0fc">

    <script src="js/jquery-2.2.0.min.js"></script>
</head>

<body>

<section id="hero_section" class="hero is-info is-medium logbot">
    <div class="hero-head">
        <nav class="nav has-shadow">
            <div class="container">

                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                </span>

                <div class="nav-center">
                    <%- include partials/username.ejs %>
                </div>

                <div class="nav-right nav-menu">
                    <a class="nav-item" href="/">Home</a>
                    <a class="nav-item is-active" href="/applications">Applications</a>

                    <p class="nav-item control has-addons">
                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <strong><%- serverName %> - Staff Applications</strong>
            </h1>
            <h2 class="subtitle is-4">
                <span>Submit your request to join our awesome team over at <%- serverName %>!</span>
            </h2>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container has-text-centered">
            <p><i>~ Click on an application to view more information ~</i></p>
        </div>
    </div>
</section>

<section class="section">
    <table class="table is-stripped is-bordered" style="width: 100%;">
        <thead>
        <tr>
            <th>ID</th>
            <th style="white-space: nowrap;">Username</th>
            <th style="white-space: nowrap;">User ID</th>
            <th style="white-space: nowrap;">Position</th>
            <th style="white-space: nowrap;">Age</th>
            <th style="white-space: nowrap;">Timezone</th>
            <th style="white-space: nowrap;">Experience</th>
            <th style="white-space: nowrap;">Reason</th>
            <th style="white-space: nowrap;">Date (D/M/Y H/M/S)</th>
        </tr>
        </thead>

        <tbody id="listTable">

        <% if (staffApplications) { for (let x = 0; x < staffApplications.length; x++) { %>

        <tr onclick="openMoreInfoBox(<%= staffApplications[x].ID %>)">
            <td><%= staffApplications[x].ID %></td>
            <td style="white-space: nowrap;"><b><%= staffApplications[x].Username %></b></td>
            <td style="white-space: nowrap;"><%= staffApplications[x].UserID %></td>
            <td style="white-space: nowrap;"><b><%= staffApplications[x].Position %></b></td>
            <td style="white-space: nowrap;"><b><%= staffApplications[x].Age %></b></td>
            <td style="white-space: nowrap;"><%= staffApplications[x].TimeZone %></td>
            <td style="white-space: nowrap;"><b><%= staffApplications[x].Experience %></b></td>
            <td style="white-space: nowrap;"><b><%= staffApplications[x].Reason %></b></td>
            <td style="white-space: nowrap;"><%= staffApplications[x].Date %></td>
        </tr>

        <% } } %>
        </tbody>
    </table>

    <% if (!staffApplications || staffApplications.length === 0) { %>
    <div class="notification is-danger has-text-centered">
        <b> ~ Sorry but it appears that no applications have been submitted yet :'( ~ </b>
        <br>
    </div>

    <% } %>
</section>

<% if (staffApplications) { for (let x = 0; x < staffApplications.length; x++) { %>

<div id="info_<%= staffApplications[x].ID %>" class="modal">
    <div class="modal-background" onclick="closeMoreInfoBox('<%= staffApplications[x].ID %>')"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><b>User:</b> <%= staffApplications[x].Username %>
                <i>(<%= staffApplications[x].UserID %>)</i></p>
            <button class="delete" onclick="closeMoreInfoBox('<%= staffApplications[x].ID %>')"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">

                <h2>&bull;&nbsp;<b>Age</b></h2>
                <p><%= staffApplications[x].Age %></p>

                <h2>&bull;&nbsp;<b>Time Zone: </b></h2>
                <p><%= staffApplications[x].TimeZone %></p>

                <h2>&bull;&nbsp;<b>Country</b></h2>
                <p><%= staffApplications[x].Country %></p>

                <h2>&bull;&nbsp;<b>Experience</b></h2>
                <p><%= staffApplications[x].Experience %></p>

                <h2>&bull;&nbsp;<b>Reason</b></h2>
                <p><%= staffApplications[x].Reason %></p>

                <p><b>Date of submission: <%= staffApplications[x].Date %></b></p>
            </div>
        </section>

        <footer class="modal-card-foot">
            <button class="button is-danger" onclick="closeMoreInfoBox('<%= staffApplications[x].ID %>')">Close</button>
        </footer>
    </div>
</div>

<% } } %>

<%- include partials/footer.ejs %>

<script>
    $("tr").not(':first').hover(
        function () {
            $(this).addClass('is-selected');
        }, function () {
            $(this).removeClass('is-selected');
        }
    );

    function openMoreInfoBox(numberID) {

        var modalInfo = document.getElementById(`info_${numberID}`);
        if (!modalInfo) return;

        modalInfo.setAttribute('class', 'modal is-active');
    }

    function closeMoreInfoBox(numberID) {
        var modalInfo = document.getElementById(`info_${numberID}`);
        if (!modalInfo) return;

        modalInfo.setAttribute('class', 'modal');
    }
</script>

</body>

</html>