<!DOCTYPE html>
<html>
<head>
    <title>Home &bull; Logbot</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/banner.css">
    <script src="https://use.fontawesome.com/337fb33ac6.js"></script>
    <link rel="stylesheet" href="/css/discord/icon-discord.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=201610241153">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=201610241153" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=201610241153" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=201610241153">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=201610241153" color="#468fcc">
    <link rel="shortcut icon" href="/favicon.ico?v=201610241153">

    <meta name="author" content="XeliteXirish">
    <meta name="description" content="Open-Source dev team">

    <meta name="apple-mobile-web-app-title" content="Logbot">
    <meta name="application-name" content="Logbot">
    <meta name="theme-color" content="#00c0fc">
</head>

<body>
<section id="hero_section" class="hero is-info is-medium logbot">
    <div class="hero-head">
        <nav class="nav has-shadow">
            <div class="container">

                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                </span>

                <div class="nav-center">
                    <%- include partials/username.ejs %>
                </div>

                <div class="nav-right nav-menu">
                    <a class="nav-item is-active" href="/">Home</a>
                    <a class="nav-item" href="/applications">Applications</a>

                    <p class="nav-item control has-addons">
                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <strong>SSL - Staff Applications</strong>
            </h1>
            <h2 class="subtitle is-4">
                <span>Submit you're request to join our awesome team over at SSL!</span>
            </h2>
        </div>
    </div>
</section>

<section class="hero is-dark is-small is-bold">
    <div class="hero-body">
        <div class="container">
            <nav class="columns">
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                    </span>
                    <p class="title is-4">Have an important role in our community!</p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <p class="title is-4">Work with our amazing staff team!</p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </span>
                    <p class="title is-4">Help moderate a server with over 10k people!</p>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title is-3">&bull;&nbsp;Applying for staff in <a href="https://www.discord.gg/ssl">Scammer Sub
                    Lounge</a>?</h1>
            <h2 class="subtitle is-4"><i>Read below for more information!</i></h2>
        </div>
        <hr>

        <div class="columns">
            <div class="column is-half">

                <article class="message is-info">
                    <div class="message-header">
                        <p>Management Department</p>
                    </div>
                    <div class="message-body">
                        Stuff about management here
                    </div>
                </article>
            </div>
            <div class="column is-half">
                <article class="message is-info">
                    <div class="message-header">
                        <p>Management Department</p>
                    </div>
                    <div class="message-body">
                        Stuff about management here
                    </div>
                </article>
            </div>
        </div>


    </div>
</section>

<section class="section">
    <div class="container">

        <div class="heading">
            <h1 class="title is-5"><strong>&bull;&nbsp;Your Application:</strong></h1>
        </div>
        <hr>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Username</label>
            </div>
            <div class="field-body">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" value="<%= userRequest.username %>" disabled>
                    </p>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">User ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input" value="<%= userRequest.id %>" disabled>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Staff Position</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="selectPosition">
                                <option>Management</option>
                                <option>Moderation</option>
                            </select>
                        </div>
                    </div>
                    <p id="invalidScamTypeMsg" class="help">&bull;&nbsp;Please read above for more information about
                        this choice!</p>
                </div>
            </div>
        </div>
        <br>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Current Age</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="submitAge" class="input">
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Timezone</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input id="submitTimezone" class="input" placeholder="GMT +1">
                            </div>
                            <p id="invalidNumberMsg" class="help">&bull;&nbsp;Please enter your current timezone. Eg:
                                GMT + 1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>
</section>

<section class="hero is-small is-danger is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title is-2">Found a bug somewhere?</h2>
            <h3 class="subtitle is-4">Create an issue on the <a
                        href="https://github.com/XeliteXirish/Logbot-v2"><strong>Github</strong></a> or submit a
                <strong>pull-request</strong>!</h3>
        </div>
    </div>
</section>


<%- include partials/footer.ejs %>

</body>
</html>