<!DOCTYPE html>
<html>
<head>
    <title>Home &bull; Staff Submission</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <script src="https://use.fontawesome.com/337fb33ac6.js"></script>
    <link rel="stylesheet" href="/css/discord/icon-discord.css">
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://images-ext-1.discordapp.net/external/f9JFLQ8Wq2ue4aTtxB9voh0XrtJFfdrTLgUJlShyUrY/https/cdn.discordapp.com/icons/194533269180514305/7e12fb0d80893de9898cb9174835b357.jpg?width=89&height=89">
    <link rel="shortcut icon"
          href="https://images-ext-1.discordapp.net/external/f9JFLQ8Wq2ue4aTtxB9voh0XrtJFfdrTLgUJlShyUrY/https/cdn.discordapp.com/icons/194533269180514305/7e12fb0d80893de9898cb9174835b357.jpg?width=89&height=89">

    <meta name="author" content="XeliteXirish">
    <meta name="description" content="Open-Source dev team">

    <meta name="apple-mobile-web-app-title" content="SSLStaffSubmissions">
    <meta name="application-name" content="SSLStaffSubmissions">
    <meta name="theme-color" content="#00c0fc">
</head>

<body>
<section id="hero_section" class="hero is-info is-medium logbot">
    <div class="hero-head">
        <nav class="nav has-shadow">
            <div class="container">

                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                </span>

                <div class="nav-center">
                    <%- include partials/username.ejs %>
                </div>

                <div class="nav-right nav-menu">
                    <a class="nav-item is-active" href="/">Home</a>
                    <a class="nav-item" href="/applications">Applications</a>

                    <p class="nav-item control has-addons">
                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <strong>SSL - Staff Applications</strong>
            </h1>
            <h2 class="subtitle is-4">
                <span>Submit you're request to join our awesome team over at SSL!</span>
            </h2>
        </div>
    </div>
</section>

<div id="snackbar"></div>

<section class="hero is-dark is-small is-bold">
    <div class="hero-body">
        <div class="container">
            <nav class="columns">
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                    </span>
                    <p class="title is-4">Have an important role in our community!</p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <p class="title is-4">Work with our amazing staff team!</p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </span>
                    <p class="title is-4">Help moderate a server with over 10k people!</p>
                </div>
            </nav>
        </div>
    </div>
</section>

<% if (moderationOpen) { %>

<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title is-3">&bull;&nbsp;Applying for staff in <a href="https://www.discord.gg/ssl">Scammer Sub
                    Lounge</a>?</h1>
            <h2 class="subtitle is-4"><i>Read below for more information!</i></h2>
        </div>
        <hr>

        <div class="columns">
            <div class="column is-half">

                <article class="message is-info">
                    <div class="message-header">
                        <p>&bull;&nbsp;Management Department</p>
                    </div>
                    <div class="message-body">
                        The management team are the ones who decide which changes SSL should go through. It's their job
                        to discuss changes and propose a vote on the subject, if the vote rules in
                        favour of the change, it is managements responsibility to make sure that the change happens.
                    </div>
                </article>
            </div>
            <div class="column is-half">
                <article class="message is-info">
                    <div class="message-header">
                        <p>&bull;&nbsp;Moderation Department</p>
                    </div>
                    <div class="message-body">
                        The moderation team are the front line of defence for the server. It's their responsibility to
                        be watching chat to punish users who break our guidelines. They also have the
                        responsibility of ensuring that all nick changes get processed quickly! Higher moderation will
                        work closely with management so changes that will effect the moderation team can be discussed.
                    </div>
                </article>
            </div>
        </div>


    </div>
</section>

<section class="section">
    <div class="container">

        <div class="heading">
            <h1 class="title is-5"><strong>&bull;&nbsp;Your Application:</strong></h1>
        </div>
        <hr>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Username</label>
            </div>
            <div class="field-body">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" value="<%= userRequest.username %>" disabled>
                    </p>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">User ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input" value="<%= userRequest.id %>" disabled>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Staff Position</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="selectPosition">
                                <option>Management</option>
                                <option>Moderation</option>
                            </select>
                        </div>
                    </div>
                    <p id="invalidScamTypeMsg" class="help">&bull;&nbsp;Please read above for more information about
                        this choice!</p>
                </div>
            </div>
        </div>
        <br>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Current Age</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input id="submitAge" class="input" type="number">
                    </div>
                    <p id="invalidNumberMsg" class="help">&bull;&nbsp;Lying about your age on your submission will get
                        you demoted instantly!</p>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Timezone</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input id="submitTimezone" class="input" placeholder="GMT +1">
                            </div>
                            <p id="invalidNumberMsg" class="help">&bull;&nbsp;Please enter your current timezone. Eg:
                                GMT + 1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Current Country</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea id="submitCountry" class="input"
                                  placeholder="This is used so we can distribute staff evenly!"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Experience</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea id="submitExperience" class="textarea"
                                  placeholder="Please tell us about any moderation/management experience that you have!"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Why should you get staff</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea id="submitReason" class="textarea"
                                  placeholder="Please give us a quick explanation as to why you should be accepted to join our staff team!"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <p style="float: right">
            <small><i><u>&bull;&nbsp;Please note, lying about any of these details will get you instantly demoted once
                        we find out! Answer honestly!</u></i></small>
        </p>
        <br><br>

        <div class="field" style="float: right;">
            <div class="control">
                <button class="button" onclick="resetFields()">Reset</button>
                <button class="button is-primary" onclick="submitApplication()">
                    Submit Number
                </button>
            </div>
        </div>

    </div>
</section>

<% } else { %>
<section class="hero is-info is-large">
    <div class="hero-body">
        <div class="container has-text-centered">
            <br><br><br><br><br><br>
            <div class="heading">
                <h1 class="title"><b>~ Sorry but it appears that submissions are not open right now! ~</b></h1><br>
                <h2 class="subtitle is-4"><i>Feel free to check back again soon!</i></h2>
            </div>
            <br><br><br><br><br><br>
        </div>
    </div>
</section>

<% } %>

<section class="hero is-small is-danger is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title is-2">Found a bug somewhere?</h2>
            <h3 class="subtitle is-4">Create an issue on the <a
                        href="https://github.com/XeliteXirish/SSLStaffSubmission"><strong>Github</strong></a> or submit
                a
                <strong>pull-request</strong>!</h3>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container has-text-centered">
            <p>~ If the repo is private, just send me a message on discord @XeliteXirish#4468 :D Thanks ~</p>
        </div>
    </div>
</section>

<script src="/js/submit.js"></script>
<%- include partials/footer.ejs %>

</body>
</html>